{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription %}{% endblock metadescription %}">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
   <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function       
    hideURLbar(){ window.scrollTo(0,1); } </script>
     <script src="{% static 'js/simpleCart.min.js' %}"> </script>
    <link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" /> 
    <script type="text/javascript" src="{% static 'js/memenu.js' %}"></script>
     <script>$(document).ready(function(){$(".memenu").memenu();});</script>	
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <script src="{% static 'js/imagezoom.js' %}"></script>
		<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />	
    <script src="{% static 'js/font-awesome.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
   {% include 'navbar.html' %}
   {% block content %}
   {% endblock content %}
   {% include 'footer.html' %}
   <!--banner-ends--> 
	<!--Slider-Starts-Here-->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
       // You can also use "$(window).load(function() {"
       $(function () {
         // Slideshow 4
         $("#slider4").responsiveSlides({
           auto: true,
           pager: true,
           nav: true,
           speed: 500,
           namespace: "callbacks",
           before: function () {
             $('.events').append("<li>before event fired.</li>");
           },
           after: function () {
             $('.events').append("<li>after event fired.</li>");
           }
         });
   
       });
     </script>
   <!--End-slider-script-->
<!--about-starts-->
</body>
</html>